.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 15px lightgrey;
  }
  
  h1 {
    text-align: left;
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    
  }
  /* Add this to your TodoList.css file */
.input-field {
    background-color: lightyellow; /* Change this to your desired color */
    border: 1px solid #ced4da;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .btn-primary {
    margin-left: 10px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }
  
  .edit-btn:hover {
    background-color: #0056b3;
  }
  